<!-- <table>
    <tr>
      <td colspan="2">
        <input type="text" placeholder="Enter Name" [(ngModel)]="fieldValue" (input)="search($event)">
      </td>
      <td>
        <input type="button" [value]="btnValue" class="btn btn-primary" (click)="AddStudent()">
      </td>
    </tr>
  
    <tr *ngFor="let temp of arr; let i = index">
      <td>{{ temp }}</td>
      <td><input type="button" value="Delete" class="btn btn-danger" (click)="deleteStudent(i)"></td>
      <td><input type="button" value="Edit" class="btn btn-warning" (click)="selectValue(i)"></td>
    </tr>
  </table> -->








  <!-- <h3 [ngStyle]="obj">how are you</h3> -->


  <!-- <h1 [ngClass]="isActive?mulClasses:'class4'">hello</h1> -->


  <!-- <h2 *ngIf="isGreeting;else elseBlock">how are you</h2>
  
  <ng-template #elseBlock>
    <h3>kem cho ?</h3>
  </ng-template>


  <div [ngSwitch]="color">
    <h5 *ngSwitchCase="'red'">red color</h5>
    <h5 *ngSwitchCase="'blue'">blue color</h5>
    <h5 *ngSwitchCase="'orange'">orange color</h5>
    <h5 *ngSwitchDefault>white color</h5>
  </div> -->


<!-- <button (click)="toggleBtn()">Toggle</button> -->

<!-- <h1 *ngIf="tglBtn;else elseBlock">from sachin</h1>

<ng-template #elseBlock>
  <h1>from mehul</h1>
</ng-template> -->


<!-- <button (click)="startColor()">Start Disco Light</button>
<button (click)="stopColor()">Stop Disco Light</button> -->


<!-- 
<div [ngStyle]="meStyle">
</div> -->





<!-- <h1 *ngIf="name else elseBlock">Mehul</h1>
<button (click)="tglValue()">toggle</button>


<ng-template #elseBlock>
  <h1>jay</h1>
</ng-template> -->



<button (click)="startLight()" class="btn btn-primary m-2">start</button>
<button (click)="stopLight()" class="btn btn-danger m-auto">stop</button>


<div [ngStyle]="mulStyle">

</div>